<div class="container cm-height100">
    <div class="cm-profileLayout clearfix cm-height100" ng-scrollbars>
        <div class="cm-profileDPColumn">
            <figure class="cm-userImg"><img class="cm-userImgDp cm-userImgLg" ng-src="{{vm.profile.avatar}}" alt=""></figure>
            <a class="cm-editLink">Change Password</a>
        </div>
        <div class="cm-profileBio">
            <div class="cm-profileBioHeader">
                <div ng-if="!vm.profile.status" class="alert alert-warning">
                    <strong>Alerta!</strong> Debe completar el proceso de afiliacion!.
                </div>
                <div class="cm-profileBioTitleWrap">
                    <div class="cm-NameTitle">{{vm.profile.displayName}}</div>
                    <div class="cm-residenceArea">SEATTLE, WA, USA</div>
                </div>
                <a ng-click="vm.editProfile()" class="cm-editProfileLink"><i class="fa fa-pencil"></i> Edit Profile</a>
                <!--div class="form-group cm-switchBoxWrap">
                    <div class="checkbox cm-switchCheckbox">
                        <label>
                            <input type="checkbox"> Available for Matching
                            <div class="cm-switchBox"></div>
                        </label>
                    </div>
                </div-->
            </div>
            <div class="cm-profileBioWrap">
                <div class="row">
                    <div class="col-sm-6 col-xs-6">
                        <div class="cm-bioRow"><div class="cm-bioLabel">Cedula</div><div class="cm-bioEntry">{{vm.profile.id}}</div></div>
                        <div class="cm-bioRow cm-countryRow"><div class="cm-bioLabel">Nombres</div><div class="cm-bioEntry">{{vm.profile.firstName}}</div></div>
                        <div class="cm-bioRow"><div class="cm-bioLabel">Apellidos</div><div class="cm-bioEntry">{{vm.profile.lastName}}</div></div>
                        <div class="cm-bioRow"><div class="cm-bioLabel">Correo</div><div class="cm-bioEntry">{{vm.profile.email}}</div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
